<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view>
    <ion-content>
        Login

            <div class="col">
                <label class="center item item-input item-floating-label" style="border-style: hidden;border-bottom-style: inherit;">
                    <a class="input-label center">E-mail</a>
                    <input type="email" class="center" placeholder="E-mail"/>
                </label>

                <label class="center item item-input item-floating-label" style="border-style: hidden;border-bottom-style: inherit;">
                    <a class="input-label center">Password</a>
                    <input type="password"  class="center" placeholder="Password"/>
                </label>
            </div>

            <div class="button-bar row">
                <button class="button button-positive button-outline" >Login</button>
                <button class="button button-assertive button-outline" >Sign-Up</button>
            </div>


        <div style="position: absolute; top: 75vh; width: 100%" class="center row">
            <button ng-click="startApp()">DEBUG</button>
            <a class="facebook-sign-in button button-block" style="" >Login with Facebook</a>
            <a class="google-sign-in button button-block">Sign in with Google</a>

        </div>
    </ion-content>
</ion-view>


