<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">

    <ion-tabs class="tabs-icon-top tabs-color-active-positive">

      <!-- Cerca Tab -->
      <ion-tab title="Cerca" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" ui-sref="tab.search">
        <ion-nav-view name="tab-search"></ion-nav-view>
      </ion-tab>

      <!-- Affitta Tab -->
      <ion-tab title="Affitta" icon-off="ion-ios-pricetags-outline" icon-on="ion-ios-pricetags" ui-sref="tab.rent.pubblicati">
        <ion-nav-view name="tab-rent"></ion-nav-view>
      </ion-tab>

       <!-- Home Tab -->
      <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ui-sref="tab.home">
        <ion-nav-view name="tab-home"></ion-nav-view>
      </ion-tab>

          <!-- Preferiti Tab -->
      <ion-tab title="Preferiti" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" ui-sref="tab.favourite">
        <ion-nav-view name="tab-favourite"></ion-nav-view>
      </ion-tab>

      <!-- Messaggi Tab -->
      <ion-tab title="Messaggi" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ui-sref="tab.chats">
        <ion-nav-view name="tab-chats"></ion-nav-view>
      </ion-tab>

    </ion-tabs>


  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <ion-header-bar class="bar-stable">
      <h1 class="title center" >{{user.details.username}}</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="item-remove-animate item-thumbnail center " type="item-text-wrap">
            <img ng-src="{{user.details.image}}">
            <h2>{{user.data.data.name}}</h2>
            <h2>{{user.data.data.surname}}</h2>
            <h2>{{user.details.email}}</h2>
        </ion-item>
        <ion-item menu-close ng-click="openEditData()">
          Modifica Dati
        </ion-item>
        <ion-item menu-close ng-click="openEditPw()">
          Modifica Password
        </ion-item>

        <ion-item menu-close ng-click="logout()">
            Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

