<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">

    <ion-tabs class="tabs-icon-top tabs-color-active-positive">

      <!-- Cerca Tab -->
      <ion-tab title="Cerca" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" ui-sref="tab.search">
        <ion-nav-view name="tab-search"></ion-nav-view>
      </ion-tab>

      <!-- Affitta Tab -->
      <ion-tab title="Affitta" icon-off="ion-ios-pricetags-outline" icon-on="ion-ios-pricetags" ui-sref="tab.rent.pubblicati">
        <ion-nav-view name="tab-rent"></ion-nav-view>
      </ion-tab>

        <!-- Preferiti Tab -->
      <ion-tab title="Preferiti" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" ui-sref="tab.favourite">
        <ion-nav-view name="tab-favourite"></ion-nav-view>
      </ion-tab>

      <!-- Messaggi Tab -->
      <ion-tab title="Contatti" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ui-sref="tab.chats">
        <ion-nav-view name="tab-chats"></ion-nav-view>
      </ion-tab>

    </ion-tabs>


  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large" class="dark">
      <ion-header-bar class="bar-assertive">
      </ion-header-bar>
      <ion-content>
        <ul class="list">
          <div class="item divMenuContent">
            <img class="menuImage" ng-src="{{user.picture}}">
            <h2 style="margin-top:1em;">{{user.name}}</h2>
            <h2 style="margin-top:0.3em;">{{user.surname}}</h2>
            <h4 style="margin-top:1em;"><i>{{user.email}}</i></h4>
          </div>

            <a class="item icon-left ion-person firsMenuElement" menu-close>
              <span class="menuElementPadding" ng-click="openEditData()">Modifica profilo</span>
            </a>
            <a class="item icon ion-person-stalker" menu-close>
              <span class="menuElementPadding" ng-click="openEditPw()">Contatti</span>
            </a>
            <a class="item icon ion-reply" menu-close>
                <span class="menuElementPadding" ng-click="logout()">Esci</span>
            </a>
        </ul>
      </ion-content>
  </ion-side-menu>
</ion-side-menus>
