<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Cerca Tab -->
  <ion-tab title="Cerca" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Affitta Tab -->
  <ion-tab title="Affitta" icon-off="ion-ios-pricetags-outline" icon-on="ion-ios-pricetags" href="#/tab/rent">
    <ion-nav-view name="tab-rent"></ion-nav-view>
  </ion-tab>

   <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

      <!-- Preferiti Tab -->
  <ion-tab title="Preferiti" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/tab/favourites">
    <ion-nav-view name="tab-favourite"></ion-nav-view>
  </ion-tab>

  <!-- Messaggi Tab -->
  <ion-tab title="Messaggi" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

</ion-tabs>
