<ion-view view-title="{{f.titolo}}">

    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content class="padding">
    <img ng-src="{{f.imgPreview}}" style="width: 64px; height: 64px">
        <p>{{f.titolo}}</p>
        <p>{{f.zona}}</p>
        <p>{{f.indirizzo}}</p>
        <p>{{f.prezzo}}</p>
        <p>{{f.descrizione}}</p>
  </ion-content>
</ion-view>
