<ion-view view-title="">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button ng-click="myGoBack();">
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left" >
            </button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-checkmark-round" ng-click="checkField()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="padding">


        <ion-list>
            <ion-item type="item-text-wrap">
                <h2 ng-class="titoloClass">Titolo</h2>
                <input type="text" class="bozzaTextInput" ng-model="e.titolo" ng-change="bc.changed=true">
            </ion-item>



            <a class="item item-thumbnail-right" ng-click="takeImage()">
                <img ng-src="{{e.imgPreview}}">
                <h2>Immagine Copertina</h2>
             </a>


            <label class="item item-input">
              <span class="input-label" ng-class="prezzoClass">Prezzo</span>
              <input type="number" string-to-number ng-model="e.prezzo" ng-change="bc.changed=true">
            </label>

            <label class = "item item-input item-select">
               <div class = "input-label">
                  Tipo
               </div>

               <select ng-model="e.tipo" ng-change="bc.changed=true">
                  <option value="Appartamento">Appartamento</option>
                  <option value="Stanza Singola">Stanza Singola</option>
                  <option value="Stanza Condivisa">Stanza Condivisa</option>
               </select>
            </label>

            <label class = "item item-input item-select">
               <div class = "input-label">
                  Zona
               </div>

               <select ng-model="e.zona" ng-change="bc.changed=true">
                  <option value="Centro">Centro</option>
                  <option value="Citta' Studi">Citta' Studi</option>
                  <option value="Corso Buenos Aires">Corso Buenos Aires</option>
                  <option value="Porta Garibaldi">Porta Garibaldi</option>
                  <option value="Fiera - San Siro">Fiera - San Siro</option>
                  <option value="Navigli">Navigli</option>
                  <option value="Porta Romana">Porta Romana</option>
                  <option value="Porta Vittoria">Porta Vittoria</option>
               </select>
            </label>

            <ion-item type="item-text-wrap">
                <h2>Indirizzo</h2>
                <input type="text" class="bozzaTextInput" ng-model="e.indirizzo" ng-change="bc.changed=true">
            </ion-item>

            <label class="item item-input">
              <span class="input-label">Piano</span>
              <input type="number" string-to-number  ng-model="e.piano" ng-change="bc.changed=true">
            </label>

            <label class="item item-input">
              <span class="input-label">Locali</span>
              <input type="number" string-to-number ng-model="e.num_locali" ng-change="bc.changed=true">
            </label>

            <label class="item item-input">
              <span class="input-label">Superficie (mq)</span>
              <input type="number" string-to-number ng-model="e.superficie" ng-change="bc.changed=true">
            </label>

            <label class="item item-input" ng-show="e.tipo=='Stanza Condivisa'">
              <span class="input-label">Posti letto stanza</span>
              <input type="number" string-to-number ng-model="e.posti_letto" ng-change="bc.changed=true">
            </label>

            <label class="item item-input">
              <span class="input-label">Posti letto totali</span>
              <input type="number" string-to-number ng-model="e.posti_letto_tot" ng-change="bc.changed=true">
            </label>

        </ion-list>

        <br>
        <ion-list>
            <ion-item type="item-text-wrap">
                <h2>Metro</h2>
                <input type="text" ng-model="e.metro" ng-change="bc.changed=true">
            </ion-item>
            <ion-item type="item-text-wrap">
                <h2>Bus</h2>
                <input type="text" ng-model="e.autobus" ng-change="bc.changed=true">
            </ion-item>
            <ion-item type="item-text-wrap">
                <h2>Tram</h2>
                <input type="text" ng-model="e.tram" ng-change="bc.changed=true">
            </ion-item>
            <ion-item type="item-text-wrap">
                <h2>Treno</h2>
                <input type="text" ng-model="e.treno" ng-change="bc.changed=true">
            </ion-item>
        </ion-list>
        <br>

        <ion-item type="item-text-wrap">
            <h2>Descrizione</h2>
            <input type="text" class="bozzaTextInput" ng-model="e.descrizione" ng-change="bc.changed=true">
        </ion-item>

        <ion-item>
            <h2>Inserisci altre foto</h2>
            <div class="divScattaFotoImage" style="margin-top:1.5em;">
                <img class="scattaFotoImage" ng-src="{{e.img1}}" ng-click="takeMultipleImage(1)"/>
                <img class="scattaFotoImage" ng-src="{{e.img2}}" ng-click="takeMultipleImage(2)"/>
                <img class="scattaFotoImage" ng-src="{{e.img3}}" ng-click="takeMultipleImage(3)"/>
            </div>

            <div class="divScattaFotoImage">
                <img class="scattaFotoImage" ng-src="{{e.img4}}" ng-click="takeMultipleImage(4)"/>
                <img class="scattaFotoImage" ng-src="{{e.img5}}" ng-click="takeMultipleImage(5)"/>
                <img class="scattaFotoImage" ng-src="{{e.img6}}" ng-click="takeMultipleImage(6)"/>
            </div>

        </ion-item>


  </ion-content>
</ion-view>


