<ion-view view-title="Rent">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button class="button button-icon ion-compose" ng-click="modal.show()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="has-header has-tabs-top padding">
        <!--<ion-list>
             <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" ng-repeat="e in elencoBozze" type="item-text-wrap">
                <h2>{{e.title}}</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>

                 <ion-option-button class="button-calm" ng-click="edit(item)">
                    Edit
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="removePubblicato(e)">
                  Delete
                </ion-option-button>
              </ion-item>
        </ion-list>-->

        PROVA BOZZE
    </ion-content>
</ion-view>
