<ion-view view-title="">
    <ion-nav-bar class="bar-positive" ng-controller="NuovoAnnuncioCtrl">
        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>


        <ion-nav-buttons side="right">
            <button class="button button-icon ion-compose" ng-click="nuovoAnnuncioModal()">
            </button>
        </ion-nav-buttons>

    </ion-nav-bar>

    <ion-content class="has-header has-tabs-top">
        <ion-list>
             <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" ng-repeat="b in elencoBozze" type="item-text-wrap" ui-sref="tab.bozzaDetail({bozzaID: b.id_annuncio})">
                <h2>{{b.titolo}}</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="removeBozza(e)">
                  Delete
                </ion-option-button>
              </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
