 <ion-modal-view>
     <ion-header-bar class="bar-positive">
        <div class="buttons">
            <button class="button button-clear ion-chevron-left" ng-click="closeModal()"></button>
        </div>
        <h1 class="title">Nuovo annuncio</h1>
     </ion-header-bar>


    <ion-content class="has-header">
         <ion-list>
            <ion-item type="item-text-wrap">
                <h2>Titolo</h2>
                <input type="text" class="bozzaTextInput" ng-model="n.titolo">
            </ion-item>

             <a class="item item-thumbnail-right" ng-click="takeImage()">
                <img ng-src="{{n.imgPreview}}" style="border: 1px solid blue"/>
                <h2>Immagine Copertina</h2>
             </a>


            <label class="item item-input">
              <span class="input-label">Prezzo</span>
              <input type="number" string-to-number ng-model="n.prezzo">
            </label>

            <label class = "item item-input item-select">
               <div class = "input-label">
                  Tipo
               </div>

               <select ng-model="n.tipo">
                  <option value="Appartamento">Appartamento</option>
                  <option value="Stanza Singola">Stanza Singola</option>
                  <option value="Stanza Condivisa">Stanza Condivisa</option>
               </select>
            </label>

            <label class = "item item-input item-select">
               <div class = "input-label">
                  Zona
               </div>

               <select ng-model="n.zona">
                  <option value="Centro">Centro</option>
                  <option value="Citta' Studi">Citta' Studi</option>
                  <option value="Corso Buenos Aires">Corso Buenos Aires</option>
                  <option value="Porta Garibaldi">Porta Garibaldi</option>
                  <option value="Fiera - San Siro">Fiera - San Siro</option>
                  <option value="Navigli">Navigli</option>
                  <option value="Porta Romana">Porta Romana</option>
                  <option value="Porta Vittoria">Porta Vittoria</option>
               </select>
            </label>

            <ion-item type="item-text-wrap">
                <h2>Indirizzo</h2>
                <input type="text" class="bozzaTextInput" ng-model="n.indirizzo" ng-blur="updateLatLong()">
            </ion-item>

            <label class="item item-input">
              <span class="input-label">Piano</span>
              <input type="number" string-to-number  ng-model="n.piano">
            </label>

            <label class="item item-input">
              <span class="input-label">Locali</span>
              <input type="number" string-to-number ng-model="n.num_locali">
            </label>

            <label class="item item-input">
              <span class="input-label">Superficie (mq)</span>
              <input type="number" string-to-number ng-model="n.superficie">
            </label>

            <label class="item item-input" ng-show="e.tipo=='Stanza Condivisa'">
              <span class="input-label">Posti letto stanza</span>
              <input type="number" string-to-number ng-model="n.posti_letto">
            </label>

            <label class="item item-input">
              <span class="input-label">Posti letto totali</span>
              <input type="number" string-to-number ng-model="n.posti_letto_tot">
            </label>

        </ion-list>

        <br>
        <ion-list>
            <ion-item type="item-text-wrap">
                <h2>Metro</h2>
                <input type="text" ng-model="n.metro">
            </ion-item>
            <ion-item type="item-text-wrap">
                <h2>Bus</h2>
                <input type="text" ng-model="n.autobus">
            </ion-item>
            <ion-item type="item-text-wrap">
                <h2>Tram</h2>
                <input type="text" ng-model="n.tram">
            </ion-item>
            <ion-item type="item-text-wrap">
                <h2>Treno</h2>
                <input type="text" ng-model="n.treno">
            </ion-item>
        </ion-list>
        <br>

        <ion-item type="item-text-wrap">
            <h2>Descrizione</h2>
            <input type="text" class="bozzaTextInput" ng-model="n.descrizione">
        </ion-item>

        <ion-item>
            <h2>Inserisci altre foto</h2>
            <div class="divScattaFotoImage" style="margin-top:1.5em;">
                <img class="scattaFotoImage" ng-src="{{n.img1}}" ng-click="takeMultipleImage(1)"/>
                <img class="scattaFotoImage" ng-src="{{n.img2}}" ng-click="takeMultipleImage(2)"/>
                <img class="scattaFotoImage" ng-src="{{n.img3}}" ng-click="takeMultipleImage(3)"/>
            </div>

            <div class="divScattaFotoImage">
                <img class="scattaFotoImage" ng-src="{{n.img4}}" ng-click="takeMultipleImage(4)"/>
                <img class="scattaFotoImage" ng-src="{{n.img5}}" ng-click="takeMultipleImage(5)"/>
                <img class="scattaFotoImage" ng-src="{{n.img6}}" ng-click="takeMultipleImage(6)"/>
            </div>

        </ion-item>

    </ion-content>
  </ion-modal-view>
