 <ion-modal-view>
     <ion-header-bar class="bar-positive">
        <div class="buttons">
            <button class="button button-clear ion-chevron-left" ng-click="closeModal()"></button>
        </div>
        <h1 class="title">Nuovo annuncio</h1>
     </ion-header-bar>


    <ion-content class="has-header">
         <ion-list>
            <ion-item type="item-text-wrap">
                <h2>Titolo</h2>
                <input type="text" class="bozzaTextInput" ng-model="new.titolo">
            </ion-item>

            <label class="item item-input">
              <span class="input-label">Prezzo</span>
              <input type="number" string-to-number ng-model="new.prezzo">
            </label>

            <label class = "item item-input item-select">
               <div class = "input-label">
                  Tipo
               </div>

               <select ng-model="new.tipo">
                  <option value="Appartamento">Appartamento</option>
                  <option value="Stanza Singola">Stanza Singola</option>
                  <option value="Stanza Condivisa">Stanza Condivisa</option>
               </select>
            </label>

            <label class = "item item-input item-select">
               <div class = "input-label">
                  Zona
               </div>

               <select ng-model="new.zona">
                  <option value="Centro">Centro</option>
                  <option value="Citta' Studi">Citta' Studi</option>
                  <option value="Corso Buenos Aires">Corso Buenos Aires</option>
                  <option value="Porta Garibaldi">Porta Garibaldi</option>
                  <option value="Fiera - San Siro">Fiera - San Siro</option>
                  <option value="Navigli">Navigli</option>
                  <option value="Porta Romana">Porta Romana</option>
                  <option value="Porta Vittoria">Porta Vittoria</option>
               </select>
            </label>

            <ion-item type="item-text-wrap">
                <h2>Indirizzo</h2>
                <input type="text" class="bozzaTextInput" ng-model="new.indirizzo">
            </ion-item>

            <label class="item item-input">
              <span class="input-label">Piano</span>
              <input type="number" string-to-number  ng-model="new.piano">
            </label>

            <label class="item item-input">
              <span class="input-label">Locali</span>
              <input type="number" string-to-number ng-model="new.num_locali">
            </label>

            <label class="item item-input">
              <span class="input-label">Superficie (mq)</span>
              <input type="number" string-to-number ng-model="new.superficie">
            </label>

            <label class="item item-input" ng-show="e.tipo=='Stanza Condivisa'">
              <span class="input-label">Posti letto stanza</span>
              <input type="number" string-to-number ng-model="new.posti_letto">
            </label>

            <label class="item item-input">
              <span class="input-label">Posti letto totali</span>
              <input type="number" string-to-number ng-model="new.posti_letto_tot">
            </label>

        </ion-list>

        <br>
        <ion-list>
            <ion-item type="item-text-wrap">
                <h2>Metro</h2>
                <input type="text" ng-model="new.metro">
            </ion-item>
            <ion-item type="item-text-wrap">
                <h2>Bus</h2>
                <input type="text" ng-model="new.autobus">
            </ion-item>
            <ion-item type="item-text-wrap">
                <h2>Tram</h2>
                <input type="text" ng-model="new.tram">
            </ion-item>
            <ion-item type="item-text-wrap">
                <h2>Treno</h2>
                <input type="text" ng-model="new.treno">
            </ion-item>
        </ion-list>
        <br>

        <ion-item type="item-text-wrap">
            <h2>Descrizione</h2>
            <input type="text" class="bozzaTextInput" ng-model="new.descrizione">
        </ion-item>

    </ion-content>
  </ion-modal-view>
