<ion-view view-title="{{e.title}}">
    <ion-nav-bar class="bar-positive">
          <ion-nav-back-button>
          </ion-nav-back-button>

          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
          </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="padding">
        <p>
             Nome: {{e.title}}
            <br>
             via: {{e.via}}
            <br>
            Zona: {{e.zone}}
            <br>
        </p>
  </ion-content>
</ion-view>


