<ion-view>
    <ion-pane class="has-minchia padding">
        <button class="button button-balanced col col-33 col-offset-33">Nuovo</button>
    </ion-pane>

    <ion-tabs class="tabs-striped tabs-top tabs-background-light tabs-color-positive">

        <ion-tab title="Pubblicati" ui-sref="tab.rent.pubblicati">
            <ion-nav-view name="rent-pubblicati"></ion-nav-view>
        </ion-tab>

         <ion-tab title="Bozze" ui-sref="tab.rent.bozze">
             <ion-nav-view name="rent-bozze"></ion-nav-view>
         </ion-tab>
    </ion-tabs>
</ion-view>
