<ion-view view-title="">

      <ion-nav-bar class="bar-positive">
          <ion-nav-back-button>
          </ion-nav-back-button>

          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
          </ion-nav-buttons>

          <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-plus-round" ng-click="">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <div class="tabs-striped tabs-top tabs-background-stable tabs-color-positive" >
        <div class="tabs">
            <a class="tab-item" ui-sref="tab.rent.pubblicati"
               ng-class="{'active':selectedTab==='pub'}"  ng-click="selectedTab='pub'">
                Pubblicati
            </a>
            <a class="tab-item" ui-sref="tab.rent.bozze"
               ng-class=" {'active':selectedTab === 'boz'}"  ng-click="selectedTab = 'boz'">
                Bozze
            </a>
        </div>
    </div>


    <ui-view name="rent-page"></ui-view>
</ion-view>
