<ion-modal-view >
        <ion-header-bar class="bar bar-header bar-positive">

          <button class="button button-clear ion-chevron-left" ng-click="hideModalZone();openModal('place');"></button>
            <h1 class="title">Select Month</h1>
        </ion-header-bar>
        <ion-content>
          <div class="list">
            <ion-radio ng-model="modalData.zone" ng-repeat="item in months" ng-click="doSomething(item,2);">
              {{item}}
            </ion-radio>
          </div>
        </ion-content>
</ion-modal-view>
