<ion-modal-view ng-controller="modalPriceCtrl" >
        <ion-header-bar class="bar bar-header bar-positive">
            <button class="button button-clear ion-chevron-left" ng-click="check();"></button>
            <h1 class="title"></h1>
        </ion-header-bar>
        <ion-content>
            <div class="row" style="border-color: #FFF">
                <div class="list col col-50" style="border-color: #FFF">
                    <h2 class="center">Da:</h2>
                    <ion-scroll zooming="false" direction="y" scrollbar-y="false" style="height: 80vh">
                        <ion-radio  name="Start" class="row center" ng-model="modalData.priceStart" ng-value="item" style="border-color: #FFF" ng-repeat="item in pricesS">
                          {{item}}
                        </ion-radio>
                    </ion-scroll>
                </div>

                <div class="list col col-50" style="border-color: #FFF">
                     <h2 class="center">A:</h2>
                    <ion-scroll zooming="false" direction="y" style="height: 80vh">
                        <ion-radio  name="End" class="row center" ng-model="modalData.priceEnd" ng-value="item" style="border-color: #FFF" ng-repeat="item in pricesE" >
                          {{item}}
                        </ion-radio>
                    </ion-scroll>
                </div>
            </div>
        </ion-content>
</ion-modal-view>
