<ion-view view-title="">

    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" ng-click="openModal('place')">
                <h2>Dove?</h2>
                <h4 class="blueItem">{{modalData.msg}}</h4>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap">
                <h2>Tipo?</h2>
                <h4 class="blueItem">Scegli</h4>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" ng-click="openModal('price')">
                <h2>Prezzo?</h2>
                <h4 class="blueItem">Scegli</h4>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <div class="row" style="margin-top:1em;s">
                <button class="button button-positive col">
                    Cerca
                </button>
            </div>
            <!---->
        </ion-list>
    </ion-content>
</ion-view>
