#map {
    width: 100vw;
    height: 90vh;
    margin-bottom: 1em;
}

.blueItem{
    color:blue !important;
}
.center{
    text-align: center;
}


.has-cazzo{
   top: 7em !important;
}
.has-minchia{
   top: 3em !important;
}

.facebook-sign-in {
    color: white;
    background-color: #3B5998;
    font:  Helvetica;

}

.google-sign-in {
     color: white;
    background-color: #dd4b39;
    font: Roboto;

}
